html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul, li {
    list-style-type: none;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

:root {
    --banner_height: 80vh;
    --card-radius: 15px;
}

@font-face {
    src: url('./../font/Lobster-Regular.ttf');
    font-family: banner;
}

@font-face {
    src: url('./../font/GrandHotel-Regular.ttf');
    font-family: logo;
}

.line {
    height: 3px;
    width: 25px;
    margin: 5px 0;
    background-color: gray;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bg-light {
    top: 0px;
    background-color: white !important;
}

/* ============= Banner ============== */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner_background {
    position: absolute;
    z-index: 3;
    background-image: url('./../media/banner.jpg');
    background-position: center;
    height: 100%;
    background-size: cover;
    width: 50%;
    right: 0;
}

.banner_wrapper {
    position: absolute;
    z-index: 4;
    background-image: url('./../media/curve.png');
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.banner_content {
    position: absolute;
    z-index: 5;
    top: 100px;
    height: calc(100vh - 200px);
    width: 40vw;
    color: white;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner_logo {
    font-size: 90px;
    font-family: logo;
    font-weight: bold;
}

.banner_logo>img {
    margin-right: 10px;
    width: 40px;
}

.banner_content>ul {
    padding: 0;
}

.banner_content>div>h5 {
    margin-bottom: 20px;
}

.banner_content>ul>li>img {
    width: 30px;
    margin: 5px 10px 5px 0;
}


 /* ================ Navbar ================== */
.navbar {
    z-index: 2 !important;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #959595;
    padding: 0 !important;
    margin-right: .8rem !important;
    margin-left: .8rem !important;
}

.nav-link:hover {
    color: #4d4b4b;
}

.navbar-toggler>img {
    width: 40px;
}

.nav-link>img {
    width: 20px;
}

.active {
    color: #4d4b4b;
    border-bottom: 2px solid #4d4b4b;
}
/* ============ Loading ============ */
.loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background-color: white;
}

.loading_animation {
    position: absolute;
    animation: rotate infinite 1s;
    -webkit-animation: rotate infinite 1s;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
    } to {
        transform: translate(-50%, -50%) rotate(360deg);
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -ms-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* ============ Main ============ */
main {
    margin: 70px 30px 0;
}

section {
    padding: 60px 0 0;
    position: relative;
}

section>h1 {
    width: 100%;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h-100vh {
    height: 100vh;
}

#intro {
    padding: 0;
}

.wrapper {
    position: absolute;
    top: 15%;
    left: 30px;
    width: calc(100% - 30px);
    height: 70%;
    background-color: #edecf4;
    align-items: center;
}

.wrapper>img {
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.content {
    text-align: center;
    padding: 0 30px;
}

.card {
    margin: 5px 0;
    border: none;
}

.blog {
    padding-top: 2px;
}

.card-title {
    font-weight: bold;
}

.card-img-top {
    width: 100%;
}

.carousel {
    position: absolute;
    height: 78%;
    bottom: 40px;
    left: 0;
}

.carousel-inner {
   height: 100%;
   border: none;
}

.carousel-item {
    height: 100%;
    background-color: #dce8dc;
}

.carousel-item.active {
    border: none;
}

.carousel-item.active:hover {
    color: gray;
}

.p-left-30 {
    padding-left: 30px;
}

.f-20 {
    font-size: 20px;
}

.slide-img {
    width: 100%;
    height: 100%;
    position: absolute; 
    object-fit: cover;
    right: 0;
    padding: 0;
}

.slide-header {
    font-size: 30px;
    font-weight: bold;
    color: rgb(95, 84, 84);
}

.content>h1 {
    font-weight: bold;
    font-family: banner;
    letter-spacing: 2px;
}

.align-center {
    align-items: center;
}

.tip {
    color: black;
    font-size: 18px;
}

.recipes {
    padding-bottom: 20px;
    border-bottom: 2px dashed gray;
}

.recipe {
    color: black;
    font-size: 25px;
}

.recipes>.card-img-bottom {
    height: 400px;
    object-fit: cover;
}

/* ============ Footer ============ */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    margin-top: 50px;
}

.flex_footer {
    display: flex;
    justify-content: space-around;
    background-color: #14796b;
}

.flex_footer>h1 {
    font-family: banner;
    margin: 20px 30px;
    color: #14796b;
    background: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 9px;
    font-size: 3.5rem;
}

.flex_footer:nth-child(2) {
    padding: 30px 0;
}

.flex_footer>ul>li>img {
    width: 30px;
    margin: 3px 4px 3px 0;
}

.form-control {
    width: 70%;
}

.subscribe>form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

form>.btn {
    margin-left: 30px;
    width: 20%;
}

.flex_footer>ul>li>h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.flex_footer>ul>li {
    line-height: 1.6rem;
}

#contact>iframe {
    width: 100%;
    height: 300px;
}

.footer_copyright {
    width: 100%;
    text-align: center;
    background-color: #06352c;
    padding: 15px 0;
}

.footer_copyright>p {
    padding-bottom: 4px;
    margin: 0;
}

.footer_copyright>small {
    font-style: italic;
}
/* 
==========================================
|                                        |
|                   BLOG                 |
|                                        |
========================================== 
*/
@font-face {
    src: url('./../font/FuturaPTMedium.otf');
    font-family: futura-medium;
}

@font-face {
    src: url('./../font/FuturaPTExtraBold.otf');
    font-family: blog-title;
}

@font-face {
    src: url('./../font/Cabin-Italic.ttf');
    font-family: blog-poster;
}
/* ======= Menu ======== */
.blog_menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: -100%;
    background-color: white;
    padding: 90px 0px 10px 10px;
    margin: 0 !important;
}

.showBlogMenu {
    animation: showBlog .4s;
    -webkit-animation: showBlog .4s;
    top: 0;
}

@keyframes showBlog {
    from {
        top: -100%;
    } to {
        top: 0;
    }
}

.blog_menu>div>a>p {
    color: black;
    margin: 20px;
    font-family: futura-medium;
}

.blog_menu>div>a:hover {
    text-decoration: underline;
}

.blog_menu>.col-md-8 {
    background-image: url('./../media/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ====== Navbar ====== */
.navbar>a>h1 {
    font-family: banner;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

.navbar>a>h1:hover {
    border-bottom: 2px solid black;
}

.blogNavbar_menu {
    display: flex;
    align-items: center;
}

.blogNavbar_menu:hover div>.blogNavbar_line{
    margin: 10px 0;
}

.blogNavbar_menu>p {
    text-transform: uppercase;
    margin-left: 10px;
    font-family: futura-medium;
}

.blogNavbar_menu>p:hover {
    cursor: pointer;
}

.blogNavbar_line {
    width: 20px;
    height: 2px;
    background-color: gray;
    margin: 2px 0;
    transition: margin .3s;
    -webkit-transition: margin .3s;
    -moz-transition: margin .3s;
    -ms-transition: margin .3s;
    -o-transition: margin .3s;
}

.blogNavbar_social>a>img {
    width: 22px;
    margin: 5px;
}

/* ========== Blog Content =========== */
.blog_wrapper {
    position: relative;
}

.blog_title {    
    text-align: center;
    margin-top: 150px;
    padding: 30px 80px;
}

.blog_title>h1 {
    font-family: blog-title;
    font-size: 125px;
}

.blog_title>h3 {
    font-family: blog-poster;
    margin: 30px 0;
}

.blog_title>p {
    margin-bottom: 30px;
}

.blog_banner {
    width: 100%;
}

.blog_content {
    margin: 40px 50px;
}

.blog_content>div>p {
    font-size: 20px;
    margin: 40px;
}

.blog_recipes {
    background-color: rgba(207, 219, 231, 0.37);
    padding: 20px 10px;
    max-width: 800px;
    margin: 0 0 0 8%;
}

.blog_recipes>ul {
    padding-left: 90px;
}

.blog_recipes>ul>li {
    list-style-type: disc;
    margin: 10px 0;
}

.intro_recipes {
    text-align: center;
}

.intro_recipes>img {
    width: 200px;
    height: 200px;
    margin: 10px 0 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.intro_recipes>h3 {
    font-weight: bold;
}

.intro_recipes>p {
    margin: 20px;
}

.more_recipes>.card>img {
    height: 400px;
    object-fit: cover;
}

.more_recipes>.card>.card-body>a>.card-title {
    font-size: 18px;
    text-align: center;
    color: black;
}