@media screen and (max-width: 768px) {
    .banner_background {
        background-image: url('./../media/mobile-bg.png');
    }

    .banner_content {
        width: 70%;
    }

    .wrapper {
        top: 0;
        height: 100%;
    }

    .wrapper>img {
        height: 275px;
        top: 0;
        position: absolute;
    }

    .slide-img {
        height: 50%;
        top: 0;
    }

    .p-left-30 {
        top: 26%;
        height: 50%;
        padding: 0 30px;
    }

    .content {
        height: calc(100% - 300px);
        position: absolute;
        bottom: 0;
    }

    .flex_footer {
        display: block;
        text-align: center;
        padding: 30px 0;
    }

    .flex_footer>ul {
        padding: 0;
    }

    .inline-item {
        flex-direction: inherit;
    }

    .blog_title {
        padding: 0;
    }

    .blog_title>h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 568px){
    .navbar > a > h1 {
        font-size: 40px;
    }
    
    .blogNavbar_social>a:first-child {
        display: block;
    }

    .blogNavbar_social>a:nth-child(2), .blogNavbar_social>a:nth-child(3), .blogNavbar_social>a:nth-child(4) {
        display: none;
    }

    .blogNavbar_menu > p{
        display: none;
    }

    .banner_content>div>p {
        display: none;
    }

    .banner_content {
        margin-left: 27px;
        width: 90%;
    }

    .flex_footer>iframe {
        width: 300px;
        height: 250px;
    }

    .recipes > .card-img-bottom {
        height: 300px;
    }

    .footer_copyright {
        font-size: 12px;
    }

    .blog_title>h1 {
        font-size: 55px;
    }

    .blog_content {
        margin: 0;
    }

    .blog_content > div > p{
        margin: 30px 0;
        font-size: 16px;
    }

    .blog_recipes {
        margin: 0;
    }
    .blog_recipes > ul{
        padding-left: 20px;
    }
}